.btn {
  margin-top: 15px;
  width: 100%;
  color: $primary-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}
.default {
  color: $w;
  background-color: $default;
  &:hover {
    transition: background-color 0.7s ease-in;
    background-color: $default-light;
  }
}

.error {
  color: $w;
  background-color: $error;
  &:hover {
    transition: background-color 0.7s ease-in;
    background-color: $error-light;
  }
}

.info {
  color: $w;
  background-color: $info;
  &:hover {
    transition: background-color 0.7s ease-in;
    background-color: $info-light;
  }
}

.success {
  color: $w;
  background-color: $success;
  &:hover {
    transition: background-color 0.7s ease-in;
    background-color: $success-light;
    }
}

.warning {
  color: $w;
  background-color: $warning;
  &:hover {
    transition: background-color 0.7s ease-in;
    background-color: $warning-light;
  }
}
